* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
header {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #cccccc;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.logo a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links li a {
    text-decoration: none;
    color: #222222;
    position: relative;
    padding: 0 10px;
    transition: color 0.3s;
    display: inline-block;
}
.nav-links li a:hover {
    color: #000000;
}
.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    bottom: -6px;
    left: 0;
    transition: 0.4s;
    display: block;
}
.nav-links li a:hover::after {
    width: 100%;
}
main {
    display: flex;
    padding: 20px;
}
.left-section {
    flex: 1;
}
.profile img {
    max-width: 75%;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.social-links {
    display: flex;
    gap: 10px;
}
.right-section {
    flex: 3;
    overflow-y: auto;
    padding-left: 20px;
}
.profile-info {
    text-align: center;
}
.profile-info .name {
    font-weight: bold;
}
.profile-info .designation {
    font-style: italic;
    color: #555555;
}
.right-section p {
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.right-section h2, .right-section h3 {
    margin-top: 20px;
}
.right-section ol {
    margin-left: 20px;
}
.right-section ol li {
    margin-bottom: 10px;
}
.right-section a {
    color: #000000;
    text-decoration: none;
}
.right-section a:hover {
    text-decoration: underline;
}
.right-section ol, .right-section ul {
    list-style-type: none;
    padding-left: 0;
}
.right-section ol li, .right-section ul li {
    margin-bottom: 10px;
}
/* Media queries for tablet and mobile */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }
    .right-section {
        padding-left: 0;
    }
    .profile img {
        max-width: 100%;
        width: 80%;
    }
}
